* {
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
}

#topnav {
	width: 100%;
	height: 40px;
	padding: 4px;
	display: flex;
	justify-content: center;
}

.kanban-group-heading {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.kanban-group-heading button {
	margin-left: 4px;
}
.kanban-group-heading:not(:hover) button {
	display: none;
}

.kanban-group-heading .icon,
.place-entry .icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	width: 20px;
	height: 20px;
	min-width: 20px;
	max-width: 20px;
	border-radius: 4px;
}
.icon-bookmark {
	background-image: url(icons/bookmark.svg);
	margin-right: 4px;
	filter: invert() brightness(0.6);
}

input#query {
	width: calc(80vw);
	max-width: 800px;
}

#kanban {
	width: 100%;
	height: calc(100vh - 40px);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: safe center;
	overflow-x: auto;
	row-gap: 20px;
}

.kanban-group {
	width: 320px;
	max-width: 320px;
	padding: 0 5px;
}
#kanban:not(.searching) .kanban-group[data-id="search"],
#kanban.searching .kanban-group:not([data-id="search"]) {
	display: none;
}

#kanban[loading] .kanban-group {
	/* Display=none will stop icons from loading, so use opacity=0. */
	opacity: 0;
}

.kanban-group h3 {
	margin: 0.2rem 0;
}

.place-list {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}

.place-entry {
	padding: 2px;
	flex-shrink: 1;
	display: flex;
}

.place-link {
	font-size: 1rem;
	width: 100%;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

a.place-link {
	color: initial;
	text-decoration: none;
}
a.place-link:hover .place-label {
	color: initial;
	text-decoration: underline;
}

.kanban-group:not([data-id="search"]) .place-entry[container] {
	display: none;
}


.place-icon {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 4px;
	background-image: url(icons/defaultFaviconOverlay.svg);
	background-repeat: no-repeat;
	background-position: center;
}
.place-entry[container] .place-icon {
	background-image: url(icons/folder.svg);
}

.place-icon,
.place-label {
	vertical-align: middle;
}

.place-label {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

button.icon {
	border: none;
	background-color: transparent;
}
button.icon:hover {
	background-color: #cccccc;
}

.group-move-left {
	background-image: url(icons/back.svg);
}
.group-move-right {
	background-image: url(icons/forward.svg);
}

.toggle-pin {
	background-image: url(icons/pin-tab.svg);
}
.toggle-pin.pinned {
	background-image: url(icons/pin-12.svg);
}

.edit-bookmark-wrapper.hidden {
	display: none;
}

.icon.icon-edit {
	background-image: url("chrome://activity-stream/content/data/content/assets/glyph-edit-16.svg");
}
.place-entry .edit-place-button {
	opacity: 0;
	transform: scale(0.25);
	transition-duration: 150ms;
	transition-property: transform, opacity;
}
.place-entry:is(.active, :focus, :hover) .edit-place-button {
	opacity: 1;
	transform: scale(1);
	transition-delay: 600ms;
}
