/* Button */
.button.danger,
button.danger {
	--newtab-button-danger-color: #dc3545;
	background-color: var(--newtab-button-danger-color);
	border: 1px solid var(--newtab-button-danger-color);
	border-radius: 4px;
	color: #FFF;
	cursor: pointer;
	margin-bottom: 15px;
	padding: 10px 30px;
	white-space: nowrap;
	margin-inline-start: auto;
}
.button.danger:hover, button.danger:hover,
.button.danger:focus, button.danger:focus {
	box-shadow: 0 0 0 5px var(--newtab-card-active-outline-color);
	transition: box-shadow 150ms;
}


/* Images */
.icon.svgicon {
	padding: 0px;
	padding: 2px;
}
.icon.svgicon svg {
	fill: currentColor;
}
.icon.icon-clear-input {
	background-image: url(icons/glyph-cancel-16.svg); }
.icon.icon-edit {
	background-image: url(icons/glyph-edit-16.svg); }
.icon.icon-folder {
	background-image: url(icons/folder.svg); }

/* Custom Images */
.search-wrapper .search-button {
	background-image: url(icons/forward.svg); }
.icon.icon-pin {
	background-image: url(icons/pinned.svg); }
.icon.icon-pinned,
.icon.icon-pin.pinned {
	background-image: url(icons/pin.svg); }
.icon.icon-bookmark-overlay {
	background-image: url(icons/defaultFaviconOverlay.svg); }
.place-entry[container] .place-icon {
	background-image: url(icons/folder.svg); }
.icon.icon-previous {
	background-image: url(icons/back.svg); }
.icon.icon-next {
	background-image: url(icons/forward.svg); }

.kanban-group-heading .icon,
.place-entry .icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	width: 20px;
	height: 20px;
	min-width: 20px;
	max-width: 20px;
	border-radius: 4px;
}


/* Search Row */
.search-wrapper {
	display: flex;
	padding: 10px;
}
.search-wrapper input#newtab-search-text {
	--newtab-search-icon: url(icons/bookmark.svg);
	background-image: var(--newtab-search-icon);
}
.search-wrapper .search-padder,
.search-wrapper #open-options-page {
	width: 48px;
	height: 48px;
}

#open-options-page {
	/* Firefox: url("chrome://global/skin/icons/settings.svg") */
	background: url(icons/settings.svg) no-repeat center center;
	background-size: auto;
	background-size: 16px 16px;
	border: 0;
	border-radius: 3px;
	-moz-context-properties: fill;
	fill: var(--newtab-search-icon-color);
	inset-inline-end: 0;
}
#open-options-page:focus,
#open-options-page:hover {
	background-color: rgba(12, 12, 13, 0.1);
	cursor: pointer;
}


/* Kanban */
#kanban {
	width: 100%;
	height: calc(100vh - 70px);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: safe center;
	overflow-x: auto;
	row-gap: 20px;
}


/* Kanban Group */
.kanban-group {
	width: 320px;
	max-width: 320px;
	padding: 0 5px;
}
#kanban:not(.searching) .kanban-group[data-id="search"],
#kanban.searching .kanban-group:not([data-id="search"]) {
	display: none;
}

#kanban[loading] .kanban-group {
	/* Display=none will stop icons from loading, so use opacity=0. */
	opacity: 0;
}

.kanban-group-heading {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.kanban-group-label {
	margin: 0.2rem 0;
}

.kanban-group-label[draggable] {
	cursor: grab;
}

.place-list {
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}


/* Bookmark */
.place-entry {
	padding: 2px;
	flex-shrink: 1;
	display: flex;
}

.place-link {
	font-size: 1rem;
	width: 100%;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

a.place-link {
	color: inherit;
	text-decoration: none;
}
a.place-link:hover .place-label {
	color: inherit;
	text-decoration: underline;
}

.kanban-group:not([data-id="search"]) .place-entry[container] {
	display: none;
}


.place-icon {
	color: inherit;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 4px;
	background-repeat: no-repeat;
	background-position: center;
}

.place-icon,
.place-label {
	vertical-align: middle;
}

.place-label {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}


/* Kanban Buttons */
.kanban-group-heading button {
	margin-left: 4px;
}
.kanban-group button.icon {
	border: none;
	background-color: transparent;
}
.kanban-group button.icon:hover {
	background-color: var(--newtab-button-hover-background);
}
.kanban-group-heading button,
.place-entry .edit-place-button {
	opacity: 0;
	transform: scale(0.25);
	transition-duration: 150ms;
	transition-property: transform, opacity;
}
.kanban-group-heading:hover button,
.place-entry:is(.active, :focus, :hover) .edit-place-button {
	opacity: 1;
	transform: scale(1);
}
.place-entry:is(.active, :focus, :hover) .edit-place-button {
	transition-delay: 600ms;
}
.kanban-group-heading button.icon.icon-pin,
.kanban-group-heading button.icon.icon-pinned {
	transform: scale(0.25);
}
.kanban-group-heading:hover .icon.icon-pin,
.kanban-group-heading:hover .icon.icon-pinned {
	transform: scale(1);
}


/* Edit Bookmark Modal */
.edit-bookmark-wrapper.hidden {
	display: none;
}


/* Edit Bookmark Form */
.topsite-form .form-wrapper .field .clear-input-button {
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	inset-inline-end: 8px;
}
.edit-bookmark-form .edit-bookmark-delete {
	position: absolute;
	right: 25px;
	top: 15px;
}
.topsite-form .form-wrapper select {
	background-color: var(--newtab-textbox-background-color);
	border: 1px solid var(--newtab-textbox-border);
	margin: 8px 0;
	padding: 0 8px 0 inherit;
	height: 32px;
	width: 100%;
	font-size: 15px;
}

.topsite-form .form-wrapper select {
	appearance: none;
	background-image: url("icons/arrow-dropdown-12.svg");
	background-position: calc(100% - 10px) center;
	background-repeat: no-repeat;
	padding-right: 32px;
}
.topsite-form .form-wrapper .folder select {
	background-image: url("icons/folder.svg"), url("icons/arrow-dropdown-12.svg");
	background-position: 10px center, calc(100% - 10px) center;
	padding-left: 32px;
	color: inherit;
}


/* DarkMode */
body {
	color: var(--newtab-text-primary-color);
	--newtab-button-hover-background: #cccccc;
}
body[lwt-newtab-brighttext] {
	--newtab-button-hover-background: #444444;
}
body[lwt-newtab-brighttext] .search-wrapper .search-button,
body[lwt-newtab-brighttext] #open-options-page {
	filter: invert(1);
}
